# Python
*.pyx
*~
__pycache

# Env
.env 
myvenv/
venv/

# Database
db.sqlite3

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ethumbs*.db
[Db]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history
*.code-workspace
